<!DOCTYPE html>
<html>
  <head>
  <title>chaitanya</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://bootswatch.com/sandstone/bootstrap.min.css' />
    
  </head>
  <body>
the image is as follows
<img src="http://localhost/getfile/<%=image%>" width="150" height="200">
  </body>
</html>